@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--removed-body-scroll-bar-size: 0px;
	}

	*::before,
	*::after {
		border-width: 0;
		pointer-events: none;
		user-select: none;
	}
	html {
		-webkit-text-size-adjust: 100%; /* for iOS Safari */
		text-size-adjust: 100%; /* for other mobile browsers */
		-webkit-font-smoothing: antialiased;
	}

	html:focus-within {
		scroll-behavior: smooth;
	}
	body {
		text-rendering: optimizeSpeed;
		@apply lg:[cursor:url(/media/cursor.svg),pointer];
	}
	body > #__next {
		@apply relative grid bg-surface-50 dark:bg-surface-900
				min-h-screen w-full max-w-full
				grid-cols-[1fr] grid-rows-[1fr_auto]
				overflow-y-auto overflow-x-hidden break-words transition-colors duration-500;
	}
	.dark body {
		@apply lg:[cursor:url(/media/cursor-light.svg),pointer];
	}

	svg {
		display: block;
	}

	/* Add pointer cursors to interactive elements  */
	a,
	label:not([disabled]),
	button:not([disabled]),
	select:not([disabled]),
	summary:not([disabled]),
	[type="radio"]:not([disabled]),
	[type="submit"]:not([disabled]),
	[type="checkbox"]:not([disabled]) {
		@apply lg:[cursor:url(/media/cursor-active-dark.svg),pointer] dark:lg:[cursor:url(/media/cursor-active.svg),pointer];
	}

	[disabled] {
		cursor: not-allowed;
	}

	/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
	ul[role="list"],
	ol[role="list"],
	li {
		list-style: none;
	}

	/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
	@media (prefers-reduced-motion: reduce) {
		html:focus-within {
			scroll-behavior: auto;
		}

		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}

	/* custom scrollbar */

	/* body {
		scrollbar-gutter: stable both-edges;
	} */

	::-webkit-scrollbar {
		width: min(0.5rem, 0.5vw);
		/* min-width: 100%; */
	}

	::-webkit-scrollbar-track {
		@apply bg-primary-900/25 backdrop-blur-sm;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-tertiary-500 bg-gradient-to-b from-tertiary-500 to-secondary-500;
		border-radius: 100px;
	}
}
@layer utilities {
	.text-stroke {
		-webkit-text-stroke: 1px #000;
	}
	.dark .text-stroke {
		-webkit-text-stroke: 1px #fff;
	}

	.text-stroke-inverse {
		-webkit-text-stroke: 1px #fff;
	}
	.dark .text-stroke-inverse {
		-webkit-text-stroke: 1px #000;
	}

	.icon-button {
		@apply active:scale-95 transition-colors after:scale-0 after:absolute after:-inset-4  after:transition-[opacity,transform,box-shadow] after:duration-500 [&:is(:hover,:focus-visible)]:after:scale-100 [&:is(:hover,:focus-visible)]:after:opacity-100 after:opacity-0 after:bg-gradient-radial after:to-transparent z-[1] after:-z-[1];
	}
	.icon-button-primary {
		@apply after:from-primary-500/70 after:via-tertiary-500/10 dark:after:via-accent-500/40  dark:after:from-secondary-300/70  dark:active:from-primary-400/70 active:from-primary-400/70;
	}

	.button {
		@apply active:scale-95 backdrop-blur before:duration-500 transition-[colors,transform] after:scale-0 before:absolute before:inset-0 before:-z-[5] before:shadow dark:before:shadow-inner before:transition-[opacity,transform,box-shadow] dark:before:shadow-surface-200/25 before:shadow-surface-700/25 after:absolute after:inset-0 after:-z-10  after:transition-[opacity,transform,box-shadow] after:duration-500 [&:is(:hover,:focus-visible)]:after:scale-100 [&:is(:hover,:focus-visible)]:after:opacity-100 after:opacity-0 after:shadow-round-xl;
	}

	.button-rounded-lg {
		@apply px-4 py-2 rounded-lg after:rounded-lg before:rounded-lg;
	}

	.button-rounded-full {
		@apply rounded-[50%] after:rounded-[50%] before:rounded-[50%] p-0;
	}

	.button-tertiary {
		@apply after:shadow-tertiary-500/25 dark:after:shadow-tertiary-300/25 bg-tertiary-100/50 dark:bg-tertiary-800/50 dark:active:shadow-tertiary-400/25 active:shadow-tertiary-400/25;
	}

	.button-primary {
		@apply after:shadow-primary-500/25 dark:after:shadow-primary-300/25 bg-primary-300/50  dark:bg-primary-800/50 dark:active:shadow-primary-400/25 active:shadow-primary-400/25;
	}

	.input {
		@apply bg-surface-50 dark:bg-surface-900 px-2 relative rounded-lg before:absolute before:inset-0 before:-z-[5] before:rounded-lg before:shadow-inner dark:before:shadow-surface-200/25 before:shadow-surface-700/25 after:absolute after:inset-0 after:-z-10 after:rounded-lg after:transition-[opacity,transform,box-shadow] after:duration-500 [&:is(:hover,:focus-visible)]:after:opacity-100 after:opacity-0 after:shadow-md after:shadow-surface-500/25 dark:after:shadow-surface-100/25;
	}

	.divider {
		@apply border-t border-surface-100 dark:border-surface-800 h-0;
	}

	.divider-v {
		@apply border-l border-surface-100 dark:border-surface-800 w-0;
	}

	.link {
		@apply text-stroke relative  [&:is(:hover,:focus)]:after:right-0;
	}
	.link::after {
		@apply content-[""] absolute top-0 left-0 right-full -bottom-2 bg-[size:100%_4px] bg-bottom bg-no-repeat transition-all duration-500 bg-transparent bg-gradient-to-r from-transparent via-primary-500 to-transparent;
	}

	.text-shadow {
		text-shadow:
			-1px 1px 1px hsla(0, 0%, 100%, 0.5),
			1px -1px 1px hsla(0, 0%, 0%, 0.5);
	}

	.waves {
		clip-path: url(#clip-waves);
	}

	.radial-mask {
		mask-image: radial-gradient(
			black 0%,
			black 65%,
			transparent 70%,
			transparent 100%
		);
		-webkit-mask-image: radial-gradient(
			black 0%,
			black 65%,
			transparent 70%,
			transparent 100%
		);
	}

	.horizontal-frame-mask {
		mask-image: linear-gradient(
			to bottom,
			transparent 0%,
			black 10%,
			black 65%,
			transparent 70%,
			transparent 100%
		);
		-webkit-mask-image: linear-gradient(
			to bottom,
			transparent 0%,
			black 10%,
			black 65%,
			transparent 70%,
			transparent 100%
		);
	}

	.wave-vertical {
		@apply [clip-path:url('#clip-wave-vertical')];
	}

	.wave {
		@apply [clip-path:url('/media/wave.svg')];
	}

	.mask-img {
		--z: 44px;
		--g: calc(50% + var(--z) / 4) var(--z) repeat-y
			content-box;

		-webkit-mask:
			linear-gradient(#000 0 0),
			conic-gradient(
					from 225deg at right,
					#000 25%,
					#0000 0
				)
				calc(0% - var(--_p, 0%))
				calc(50% + var(--z) / 2) / var(--g),
			conic-gradient(
					from 45deg at left,
					#000 25%,
					#0000 0
				)
				calc(100% + var(--_p, 0%)) 50% / var(--g);
		mask:
			linear-gradient(#000 0 0),
			conic-gradient(
					from 225deg at right,
					#000 25%,
					#0000 0
				)
				calc(0% - var(--_p, 0%))
				calc(50% + var(--z) / 2) / var(--g),
			conic-gradient(
					from 45deg at left,
					#000 25%,
					#0000 0
				)
				calc(100% + var(--_p, 0%)) 50% / var(--g);
		-webkit-mask-composite: xor, source-over;
		mask-composite: exclude, add;
		transition-duration: 1s;
		transition-timing-function: ease-out;
	}

	/* Spicy */
	@supports (
			(background-clip: text) or
				(-webkit-background-clip: text)
		)
		and
		(
			(color: transparent) or
				(-webkit-text-fill-color: transparent)
		) {
		.spicy {
			line-height: 1.45em !important;

			@apply bg-clip-text text-transparent;
		}

		@supports (
			-webkit-box-reflect: below -0.7em
				linear-gradient(transparent 62%, #000)
		) {
			.spicy {
				-webkit-box-reflect: below -0.7em linear-gradient(transparent
							62%, #000);
			}
		}
	}

	/* Typography */
	.h1 {
		@apply text-[clamp(2rem,3vw+2rem,5.375rem)] uppercase !leading-tight lg:text-4xl xl:text-5xl 2xl:text-6xl;
	}

	.h2 {
		@apply text-shadow container px-2 text-center text-2xl font-bold !leading-tight md:text-3xl  xl:text-4xl;
	}
	.h3 {
		@apply text-[1.5rem] font-semibold leading-normal md:text-2xl xl:text-3xl;
	}
	.h4 {
		@apply text-[1.25rem] tracking-widest md:text-2xl;
	}
	.h5 {
		@apply text-base uppercase  md:text-[1.25rem] xl:text-xl;
	}
	.h6 {
		@apply text-lg font-medium;
	}
	.h7 {
		@apply text-xs tracking-wide;
	}
	.p {
		@apply text-base lg:text-lg;
	}

	/* keyframes */

	@keyframes scale-pulse-full {
		0%,
		100% {
			opacity: 0;
			transform: scale(0);
		}
		50% {
			opacity: 1;
			transform: scale(1);
		}
	}
}
